[submodule "libraries/LiquidCrystal_I2C"]
	path = libraries/LiquidCrystal_I2C
	url = https://github.com/dommilosz/LiquidCrystal_I2C
[submodule "libraries/GSMSim"]
	path = libraries/GSMSim
	url = https://github.com/dommilosz/GSMSim
[submodule "libraries/I2CCom"]
	path = libraries/I2CCom
	url = https://github.com/dommilosz/I2CCom
[submodule "libraries/graphics-card-lib"]
	path = libraries/graphics-card-lib
	url = https://github.com/dommilosz/graphics-card-lib
